html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button {
  font-size: 24px;
  padding: 10px;
}

.content {
  max-width: 600px;
  margin: 50px auto;
}

.waltDisneyPictures {
  padding: 1px;
  background-color: #173998;
}
.pixarAnimationStudios {
  padding: 1px;
  background-color: #3476DB;
}
